/*Practicing Style*/

body{
	 background-color:#D5CAD6;
}

h1{
	font-family: Arial;
	text-decoration: italic;
}

img{
width: 10%;
height: 15%;
}

a{
	text-decoration: none;
}

ul li{
list-style-type: none;

}



































